
header {
  background-color: #e24647;
  color: #fff;
  overflow:hidden;  
  margin: 0 115px;
  padding: 55px 60px 95px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  }

h1 {
    font-size: 40px;
    font-family: Arial, sans-serif;
    float: left;    
}
nav{    
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    float: right;
    
}
a {
  text-decoration: none;
  color: inherit;
  margin: 0 0 0 60px;
}
button {
    background-color: #252c41;
    width: 199px;
    height: 60px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    float: right;
    margin: 756px 280px 182px 38px;
  }