header {
  background-color: #e24647;
  overflow:auto;
}

h1,
a {
  color: #fff; 
}

h1 {
    font-size: 40px;
    text-align: left;
    font-family: Arial, sans-serif;
    height: 50px;
    float: left;
    
    
}
a {
  text-decoration: none;
  font-size: 21px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
      
}
nav{
    text-align: right;
    
}
